In [1]:
import numpy as np
import pandas as pd
from scipy.stats import f
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
female_smoker = df[df["sex"] == "female"].smoker.value_counts()[1] # no of female somkers
male_smoker = df[df["sex"] == "male"].smoker.value_counts()[1] # no of male smokers
n_females = df.sex.value_counts()[1] # no of female smoker in data
n_males = df.sex.value_counts()[1] # no of male smoker in data

In [15]:
print([female_smoker, male_smoker], [n_females, n_males])
print(f' Proportion of smoker in females, males = {round(115/662,2)}%, {round(159/676,2)}% respectively')

[115, 159] [662, 662]
 Proportion of smoker in females, males = 0.17%, 0.24% respectively

In [18]:
from statsmodels.stats.proportion import proportions_ztest
stat, pval = proportions_ztest([female_smoker, male_smoker], [n_females, n_males])
if pval < 0.05:
    print(f' With a pvalue of {round(pval,4)} the difference is significant. aka ! We reject the null hypothesis')
else: 
    print(f' With a pvalue of {round(pval,4)} the difference is not significant. aka ! We fail to reject the null hypothesis')

 With a pvalue of 0.0028 the difference is significant. aka ! We reject the null hypothesis