In [1]:
import scipy.stats as stats

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
dataset = sns.load_dataset("tips")

In [3]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
dataset_table = pd.crosstab(dataset["sex"], dataset["smoker"])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [5]:
# Observed values
observed_values = dataset_table.values

In [6]:
print("observed values :-\n", observed_values)

observed values :-
 [[60 97]
 [33 54]]

In [7]:
val = stats.chi2_contingency(dataset_table)

In [8]:
val

(0.008763290531773594,
 0.925417020494423,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [9]:
expected_values = val[3]

In [10]:
no_of_rows = len(dataset_table.iloc[0:2,0])
no_of_columns = len(dataset_table.iloc[0,0:2])
ddof = (no_of_rows - 1)*(no_of_columns - 1)
print("degree OF freedom ",ddof)
alpha = 0.05

degree OF freedom  1

In [11]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2./e for o, e in zip(observed_values, expected_values)])
chi_square_statistics = chi_square[0]+chi_square[1]

In [12]:
print("chi_square",chi_square_statistics)

chi_square 0.001934818536627623

In [13]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print("critical value",critical_value)

critical value 3.841458820694124

In [14]:
# P value
p_value = 1-chi2.cdf(x=chi_square_statistics,df=ddof)
print("p value",p_value)
print("significance level", alpha)
print("degree of freedom", ddof)

p value 0.964915107315732
significance level 0.05
degree of freedom 1

In [15]:
if chi_square_statistics>=critical_value:
    print("Reject HO,There is relationship between the two categorical value")
else:
    print("Retain HO , There is no relationship between the two categorical values")
if p_value<=alpha:
    print("Reject HO,There is relationship between the two categorical value")
else:
    print("Retain HO , There is no relationship between the two categorical values")

Retain HO , There is no relationship between the two categorical values
Retain HO , There is no relationship between the two categorical values